h1,h2,h3,h4,h5,h6 {
  margin:0;
}
.desc-wrapper {
  position: absolute;
  bottom: rem-calc(20);
  & * {
    color: #fff;
    font-size: rem-calc(18);
    font-weight: normal;
    text-shadow: 1px 1px 1px #000;
  }
}